/*  your css code here. If applicable */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 5px;
}

button#submit {
  display: block;
  margin: 20px auto;
}

#score {
  display: none;
  text-align: center;
}
